!!! 5
html
  head
    script(src="javascripts/jquery_1_8_min.js", type="application/javascript")
    script(src="javascripts/client.js", type="application/javascript")
    script(src="socket.io/socket.io.js", type="application/javascript")
  body
    block content